# Node
node_modules/
npm-debug.log*
coverage/

# Variables de entorno
.env
.env.local

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log

# SSH
*.pem
id_rsa*

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db